<?xml version="1.0"?>
<settings>
    <localRepository>__MAVEN_LIB_DIR__</localRepository>
    <profiles>
        <profile>
            <id>global-properties</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>cismet-repo</id>
                    <url>https://repo.cismet.de/repo</url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>cismet-private-repo</id>
                    <name>plugins-releases-local</name>
                    <url>https://repo.cismet.de/plugins-releases-local</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>global-properties</activeProfile>
        <activeProfile>cismet-inhouse-dev</activeProfile>
    </activeProfiles>
    <mirrors>
        <mirror>
            <id>central-proxy</id>
            <name>cismet-repo</name>
            <url>https://repo.cismet.de/repo</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>cismet-dev</id>
            <username>YOUR_USERNAME</username>
            <password>YOUR_CRYPTED_PASSWORD</password>
        </server>
        <server>
            <id>eig-cismet-repo</id>
            <username>YOUR_USERNAME</username>
            <password>YOUR_CRYPTED_PASSWORD</password>
        </server>
        <server>
            <id>cismet-repo</id>
            <username>YOUR_USERNAME</username>
            <password>YOUR_CRYPTED_PASSWORD</password>
        </server>
        <server>
            <id>central</id>
            <username>YOUR_USERNAME</username>
            <password>YOUR_CRYPTED_PASSWORD</password>
        </server>
        <server>
            <id>central-proxy</id>
            <username>YOUR_USERNAME</username>
            <password>YOUR_CRYPTED_PASSWORD</password>
        </server>
    </servers>
</settings>
